@import '../../globals.css';
#navbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 0rem 1rem;
  position: absolute;
  right: 0;
  color: var(--nord4);
  margin-right: 20rem;
}

#navbar-list {
  display: flex;
  gap: 0.5rem;
  /* center elements in line */
  align-items: center;
}

.link-divider{
  height: 80%;
}

