@import "../../globals.css";

#navbar-list {
  display: flex;
  gap: 0.5rem;
  /* center elements in line */
  align-items: center;
  overflow: hidden;
}

.link-divider {
  height: 80%;
  color: var(--fg);
  opacity: 0.5 !important;
}
