.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal-overflow {
  overflow: hidden;
}

.privacy {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
}

#landing{
  /* avoid ssr flicker */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
