@import "./nord.css";
@import "tailwindcss";

:root {
  font-family:
    Departure Mono,
    monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fg: #3d3d3d;
  --bg: #eeeeee;
  color: var(--fg);
}

[data-theme="dark"] {
  font-family:
    Departure Mono,
    monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #3d3d3d;
  --fg: #eeeeee;
  color: var(--fg);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Departure";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Departure, Arial, Helvetica, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: bold;
}

body {
  color: var(--fg);
  background: var(--bg);
  font-family: Departure, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4.5rem; /* Augmentation de 3rem à 3.5rem */
}

h2 {
  font-size: 3rem; /* Augmentation de 2.5rem à 3rem */
}

h3 {
  font-size: 2.5rem; /* Augmentation de 2rem à 2.5rem */
}

h4 {
  font-size: 2rem; /* Augmentation de 1.75rem à 2rem */
}

h5 {
  font-size: 1.75rem; /* Augmentation de 1.5rem à 1.75rem */
}

h6 {
  font-size: 1.5rem; /* Augmentation de 1.25rem à 1.5rem */
}

/* set scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--nord1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* quand on selectionne du texte */
::selection {
  background: var(--fg);
  color: var(--bg);
}
