@import url("../../nord.css");
@import url("../../globals.css");

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reveal-overflow {
  overflow: hidden;
}

.privacy {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
}

/* Container for the panels */
.panels-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; /* Panels side by side */
  position: absolute;
  top: 0;
  left: 0;
}

/* Style for the panels */
.panel {
  height: 100%;
  flex: 1; /* Equal width for all panels */
  position: relative; /* Changed from absolute */
  background: var(--fg); /* Use the base component color */
}

/* Container for the panels */
.panels-container-2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; /* Panels side by side */
  position: absolute;
  top: 0;
  left: 0;
}

.transition-span {
  position: relative; /* Changed from absolute */
  font-size: 60px;
  font-weight: bold;
}

#privacy-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 205; /* Make sure text is above all panels */
  opacity: 0;
  overflow: hidden;
  display: flex;
}

#landing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
