@import "../../globals.css";

#stack-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
  padding: 9rem 5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

#techlist {
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 100px); /* 2 */
  grid-gap: 1rem; /* 3 */
  justify-content: space-between; /* 4 */
}



#stack-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

#stack-scene {
  width: 100%;
  height: 100%;
}

#stack-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.stack-content-wrapper {
  width: 50%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.stack-title-overflow {
  margin-bottom: 2rem;
}

#stack-title-header {
  font-size: 5rem;
  margin: 0;
}

.stack-description-text {
  font-size: 1.4rem;
  line-height: 1.6;
}

.stack-description-text .line {
  overflow: hidden;
  display: block;
}
