@import "../../globals.css";
/* From Uiverse.io by jeremyssocial */
.animated-bg {
  /* Basic dimensions and centering */

  /* Dark mode colors and gradient */
  background: var(
    --bg
  ); /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    var(--bg) 25%,
    var(--fg-transparent) 25%,
    var(--fg-transparent) 50%,
    var(--bg) 50%,
    var(--bg) 75%,
    var(--fg-transparent) 75%,
    var(--fg-transparent)
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

